
.vs/Passgen/v16/.suo
obj/Debug/Passgen.pdb
obj/Debug/Passgen.exe
obj/Debug/Passgen.csprojAssemblyReference.cache
obj/Debug/Passgen.csproj.GenerateResource.cache
.vs/Passgen/v16/Server/sqlite3/storage.ide-wal
.vs/Passgen/v16/Server/sqlite3/storage.ide-shm
.vs/Passgen/v16/.suo
bin/Debug/Passgen.exe
bin/Debug/Passgen.pdb
obj/Debug/Passgen.pdb
obj/Debug/Passgen.exe
obj/Debug/Passgen.csprojAssemblyReference.cache
obj/Debug/Passgen.csproj.GenerateResource.cache
.vs/Passgen/v16/.suo
bin/Debug/Passgen.exe
bin/Debug/Passgen.pdb
*.ide
obj/Debug/Passgen.pdb
obj/Debug/Passgen.exe
obj/Debug/Passgen.csprojAssemblyReference.cache
bin/Debug/Passgen.pdb
bin/Debug/Passgen.exe
.vs/Passgen/v16/.suo
.vscode/launch.json
